<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.khpp.weixin.db.dao.ParkingOrderMapper" >
  <resultMap id="BaseResultMap" type="com.khpp.weixin.db.domain.ParkingOrder" >
    <id column="order_id" property="orderId" jdbcType="CHAR" />
    <result column="offer_id" property="offerId" jdbcType="INTEGER" />
    <result column="parking_id" property="parkingId" jdbcType="INTEGER" />
    <result column="parking_name" property="parkingName" jdbcType="VARCHAR" />
    <result column="wx_openid_sellor" property="wxOpenidSellor" jdbcType="VARCHAR" />
    <result column="wx_nick_name_sellor" property="wxNickNameSellor" jdbcType="VARCHAR" />
    <result column="wx_openid_buier" property="wxOpenidBuier" jdbcType="VARCHAR" />
    <result column="wx_nick_name_buier" property="wxNickNameBuier" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="wx_from_order_id" property="wxFromOrderId" jdbcType="VARCHAR" />
    <result column="wx_to_order_id" property="wxToOrderId" jdbcType="VARCHAR" />
    <result column="paid_amount" property="paidAmount" jdbcType="DECIMAL" />
    <result column="service_fee" property="serviceFee" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="REAL" />
    <result column="longitude" property="longitude" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="dml_time" property="dmlTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_id, offer_id, parking_id, parking_name, wx_openid_sellor, wx_nick_name_sellor, 
    wx_openid_buier, wx_nick_name_buier, order_status, wx_from_order_id, wx_to_order_id, 
    paid_amount, service_fee, latitude, longitude, create_time, dml_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.khpp.weixin.db.domain.ParkingOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from parking_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from parking_order
    where order_id = #{orderId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from parking_order
    where order_id = #{orderId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.khpp.weixin.db.domain.ParkingOrderExample" >
    delete from parking_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.khpp.weixin.db.domain.ParkingOrder" >
    insert into parking_order (order_id, offer_id, parking_id, 
      parking_name, wx_openid_sellor, wx_nick_name_sellor, 
      wx_openid_buier, wx_nick_name_buier, order_status, 
      wx_from_order_id, wx_to_order_id, paid_amount, 
      service_fee, latitude, longitude, 
      create_time, dml_time)
    values (#{orderId,jdbcType=CHAR}, #{offerId,jdbcType=INTEGER}, #{parkingId,jdbcType=INTEGER}, 
      #{parkingName,jdbcType=VARCHAR}, #{wxOpenidSellor,jdbcType=VARCHAR}, #{wxNickNameSellor,jdbcType=VARCHAR}, 
      #{wxOpenidBuier,jdbcType=VARCHAR}, #{wxNickNameBuier,jdbcType=VARCHAR}, #{orderStatus,jdbcType=INTEGER}, 
      #{wxFromOrderId,jdbcType=VARCHAR}, #{wxToOrderId,jdbcType=VARCHAR}, #{paidAmount,jdbcType=DECIMAL}, 
      #{serviceFee,jdbcType=DECIMAL}, #{latitude,jdbcType=REAL}, #{longitude,jdbcType=REAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{dmlTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.khpp.weixin.db.domain.ParkingOrder" >
    insert into parking_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="offerId != null" >
        offer_id,
      </if>
      <if test="parkingId != null" >
        parking_id,
      </if>
      <if test="parkingName != null" >
        parking_name,
      </if>
      <if test="wxOpenidSellor != null" >
        wx_openid_sellor,
      </if>
      <if test="wxNickNameSellor != null" >
        wx_nick_name_sellor,
      </if>
      <if test="wxOpenidBuier != null" >
        wx_openid_buier,
      </if>
      <if test="wxNickNameBuier != null" >
        wx_nick_name_buier,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="wxFromOrderId != null" >
        wx_from_order_id,
      </if>
      <if test="wxToOrderId != null" >
        wx_to_order_id,
      </if>
      <if test="paidAmount != null" >
        paid_amount,
      </if>
      <if test="serviceFee != null" >
        service_fee,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dmlTime != null" >
        dml_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=CHAR},
      </if>
      <if test="offerId != null" >
        #{offerId,jdbcType=INTEGER},
      </if>
      <if test="parkingId != null" >
        #{parkingId,jdbcType=INTEGER},
      </if>
      <if test="parkingName != null" >
        #{parkingName,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenidSellor != null" >
        #{wxOpenidSellor,jdbcType=VARCHAR},
      </if>
      <if test="wxNickNameSellor != null" >
        #{wxNickNameSellor,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenidBuier != null" >
        #{wxOpenidBuier,jdbcType=VARCHAR},
      </if>
      <if test="wxNickNameBuier != null" >
        #{wxNickNameBuier,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="wxFromOrderId != null" >
        #{wxFromOrderId,jdbcType=VARCHAR},
      </if>
      <if test="wxToOrderId != null" >
        #{wxToOrderId,jdbcType=VARCHAR},
      </if>
      <if test="paidAmount != null" >
        #{paidAmount,jdbcType=DECIMAL},
      </if>
      <if test="serviceFee != null" >
        #{serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=REAL},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dmlTime != null" >
        #{dmlTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.khpp.weixin.db.domain.ParkingOrderExample" resultType="java.lang.Integer" >
    select count(*) from parking_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update parking_order
    <set >
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=CHAR},
      </if>
      <if test="record.offerId != null" >
        offer_id = #{record.offerId,jdbcType=INTEGER},
      </if>
      <if test="record.parkingId != null" >
        parking_id = #{record.parkingId,jdbcType=INTEGER},
      </if>
      <if test="record.parkingName != null" >
        parking_name = #{record.parkingName,jdbcType=VARCHAR},
      </if>
      <if test="record.wxOpenidSellor != null" >
        wx_openid_sellor = #{record.wxOpenidSellor,jdbcType=VARCHAR},
      </if>
      <if test="record.wxNickNameSellor != null" >
        wx_nick_name_sellor = #{record.wxNickNameSellor,jdbcType=VARCHAR},
      </if>
      <if test="record.wxOpenidBuier != null" >
        wx_openid_buier = #{record.wxOpenidBuier,jdbcType=VARCHAR},
      </if>
      <if test="record.wxNickNameBuier != null" >
        wx_nick_name_buier = #{record.wxNickNameBuier,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=INTEGER},
      </if>
      <if test="record.wxFromOrderId != null" >
        wx_from_order_id = #{record.wxFromOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.wxToOrderId != null" >
        wx_to_order_id = #{record.wxToOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.paidAmount != null" >
        paid_amount = #{record.paidAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.serviceFee != null" >
        service_fee = #{record.serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=REAL},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=REAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dmlTime != null" >
        dml_time = #{record.dmlTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update parking_order
    set order_id = #{record.orderId,jdbcType=CHAR},
      offer_id = #{record.offerId,jdbcType=INTEGER},
      parking_id = #{record.parkingId,jdbcType=INTEGER},
      parking_name = #{record.parkingName,jdbcType=VARCHAR},
      wx_openid_sellor = #{record.wxOpenidSellor,jdbcType=VARCHAR},
      wx_nick_name_sellor = #{record.wxNickNameSellor,jdbcType=VARCHAR},
      wx_openid_buier = #{record.wxOpenidBuier,jdbcType=VARCHAR},
      wx_nick_name_buier = #{record.wxNickNameBuier,jdbcType=VARCHAR},
      order_status = #{record.orderStatus,jdbcType=INTEGER},
      wx_from_order_id = #{record.wxFromOrderId,jdbcType=VARCHAR},
      wx_to_order_id = #{record.wxToOrderId,jdbcType=VARCHAR},
      paid_amount = #{record.paidAmount,jdbcType=DECIMAL},
      service_fee = #{record.serviceFee,jdbcType=DECIMAL},
      latitude = #{record.latitude,jdbcType=REAL},
      longitude = #{record.longitude,jdbcType=REAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      dml_time = #{record.dmlTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.khpp.weixin.db.domain.ParkingOrder" >
    update parking_order
    <set >
      <if test="offerId != null" >
        offer_id = #{offerId,jdbcType=INTEGER},
      </if>
      <if test="parkingId != null" >
        parking_id = #{parkingId,jdbcType=INTEGER},
      </if>
      <if test="parkingName != null" >
        parking_name = #{parkingName,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenidSellor != null" >
        wx_openid_sellor = #{wxOpenidSellor,jdbcType=VARCHAR},
      </if>
      <if test="wxNickNameSellor != null" >
        wx_nick_name_sellor = #{wxNickNameSellor,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenidBuier != null" >
        wx_openid_buier = #{wxOpenidBuier,jdbcType=VARCHAR},
      </if>
      <if test="wxNickNameBuier != null" >
        wx_nick_name_buier = #{wxNickNameBuier,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="wxFromOrderId != null" >
        wx_from_order_id = #{wxFromOrderId,jdbcType=VARCHAR},
      </if>
      <if test="wxToOrderId != null" >
        wx_to_order_id = #{wxToOrderId,jdbcType=VARCHAR},
      </if>
      <if test="paidAmount != null" >
        paid_amount = #{paidAmount,jdbcType=DECIMAL},
      </if>
      <if test="serviceFee != null" >
        service_fee = #{serviceFee,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=REAL},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dmlTime != null" >
        dml_time = #{dmlTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.khpp.weixin.db.domain.ParkingOrder" >
    update parking_order
    set offer_id = #{offerId,jdbcType=INTEGER},
      parking_id = #{parkingId,jdbcType=INTEGER},
      parking_name = #{parkingName,jdbcType=VARCHAR},
      wx_openid_sellor = #{wxOpenidSellor,jdbcType=VARCHAR},
      wx_nick_name_sellor = #{wxNickNameSellor,jdbcType=VARCHAR},
      wx_openid_buier = #{wxOpenidBuier,jdbcType=VARCHAR},
      wx_nick_name_buier = #{wxNickNameBuier,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=INTEGER},
      wx_from_order_id = #{wxFromOrderId,jdbcType=VARCHAR},
      wx_to_order_id = #{wxToOrderId,jdbcType=VARCHAR},
      paid_amount = #{paidAmount,jdbcType=DECIMAL},
      service_fee = #{serviceFee,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=REAL},
      longitude = #{longitude,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      dml_time = #{dmlTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=CHAR}
  </update>
</mapper>